<html ng-app='payItForward'>
<head>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.js"></script>
  <title>Pay It Forward</title>
  <script src="client.js"></script>
  <link rel="stylesheet" href="web.css">
</head>
<body>
  <div id = 'main' ng-controller='mainCtrl'>
    <ol>
      <li class = 'profile' ng-repeat='location in locations track by $index'><span class = 'name'>{{location.name}}</span><span ng-if='location.website'> – <a ng-href = '{{location.website}}'>Restaurant Website</a></span></li>
    </ol>
  </div>
  <div ng-controller='profileCtrl'></div>
</body>
</html>

