<html ng-app='payItForward'>
<head>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.js"></script>
  <title>Pay It Forward</title>
  <script src="client.js"></script>
  <link rel="stylesheet" href="web.css">
</head>
<body>
  <div id = 'main' ng-controller='mainCtrl'>
    <div class = 'profileDiv' ng-repeat='location in locations track by $index' ng-if='loggedIn'>
      <p class = 'name'>{{location.name}}</p>
      <p>{{location.address}} | {{location.distance}} kilometers from you</p>
    </div>
  </div>
  <div id = 'profile' ng-controller='profileCtrl'>
    <div ng-if='currentProfile'>
      <p id='currentLocation'>{{currentProfile.name}}</p>
      <p>{{currentProfile.address}}</p>
      <p>{{currentProfile.hours}}</p>
      <p>{{currentProfile.phone}}</p>
      <p><a ng-href = '{{currentProfile.website}}'>{{currentProfile.website}}</a></p>
      <p>{{currentProfile.currentCoupon[0]}}</p>
    </div>
    <div id = 'coupons' ng-if='currentProfile'>
      <p class = 'couponDiv' ng-repeat='coupon in coupons track by $index'>
        <span class = 'coupon'>{{coupon.id}} {{coupon.description}}</span>
      </p>
    </div>
  </div>
  <div id = 'myCoupons' ng-controller='myCouponsCtrl'>
    <span ng-repeat='coupon in myCoupons track by $index'>
      <span class = 'coupon'>{{coupon}}</span>
    </span>
  </div>
</body>
</html>

