#main{
  width: 50%;
  float: left;
  height: 65%;
  /*position: fixed;*/
  overflow-y: scroll;
}

#profile{
  width: 50%;
  float: right;
  height: 65%;
  position: relative;
  overflow-y: scroll;
}

#coupons{
  height: 90%;
  overflow-y: scroll;
}

#myCoupons{
  top: 75%;
  width: 100%;
  position: absolute;
}

.couponDiv{
  background-color: beige;
  border-radius: 20%;
  padding: .1em, .25em;
}
.profileDiv{
  background-color: beige;
  border-radius: 20%;
  text-align: center;
  padding: .1em, .25em;
}
